.logo {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      margin-left: 0.5rem;
    }
  }
  img {
    width: 4rem;
    height: 4rem;
  }
}
