@import "../../styles/variables";

.background {
  background: white;
  padding: 2rem 4rem;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title {
  padding-bottom: 1.5rem;
  h2 {
    color: $primary-color;
  }
  p {
    font-size: 0.7rem;
  }

  .postedBy {
    display: flex;
    justify-content: space-between;
    p {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: $grey2;
      strong {
        color: $primary-color;
        margin: 0.3rem;
      }
    }
    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 100px;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  .image {
    width: 70rem;
    height: 20rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .details {
    h4 {
      color: $primary-color;
      padding-bottom: 0.3rem;
    }
    margin-left: 2rem;
  }
  .tags {
    margin-top: 1rem;
    width: 90%;
    p {
      font-weight: 500;
      font-size: 0.7rem;
      text-transform: capitalize;
      display: inline-block;
      background: rgba(249, 199, 79, 0.5);
      padding: 0.2rem 0.4rem;
      margin: 0.4rem 0.3rem;
      border-left: 4px solid $secondary-color;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }
}

.cardBottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  .leftDiv {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    position: relative;
    button {
      color: #ff0000;
      width: 2.8rem;
      height: 2.8rem;
      padding: 0.5rem;
      padding-bottom: 1rem;
      background: transparent;
      border: none;
      border-radius: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      &:hover {
        color: #ff0000;
      }
    }
    .heartIcon {
      color: $grey2;
    }
    small {
      position: absolute;
      bottom: -40%;
      left: 40%;
      transform: translate(-40%, 40%);
    }
  }

  .cardRightDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.6rem;

    button {
      background: transparent;
      border: none;
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        margin-right: 0.3rem;
        font-size: 1.5rem;
      }

      .bookmark,
      .share {
        width: 1.8rem;
        height: 2rem;
        margin-bottom: 0.1rem;
      }
      .bookmark {
        // text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        margin-top: 0.4rem;
      }
    }
    .saveBtn {
      span {
        color: $secondary-color;
      }
    }
    .shareBtn {
      svg {
        width: 2rem;
      }
    }
  }
}
