@import "../../styles/variables";

.shadow {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
}

.background {
  position: absolute;
  top: 6%;
  left: 15%;
  width: 70%;
  margin: auto;
  z-index: 1;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  transform: translate(15%, -10%);
  color: $grey2;
  border-radius: 100%;
  text-align: center;
  span {
    font-size: 1.2rem;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}
